.header {
  background-color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex !important;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  row-gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  & .nav-wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  & a {
    height: fit-content;
    text-decoration: none;
  }
}

.profile-wrapper {
  margin-left: auto;
}

@media (max-width: 568px) {
  .header__inner {
    flex-direction: column;

    & > * {
      margin: auto;
      justify-content: center;
    }
  }

  .header-nav {
    & .nav-wrapper {
      flex-direction: column !important;
      align-items: center;
    }
  }
}
