.rooms-page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 45px;
}

.rooms-page__filters {
  flex: 1;
  min-width: 275px;

  & .filters__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.filters__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .filters__form {
    padding: 0;
  }
}



.rooms-page__sorting {
  display: flex;
  gap: 10px;
}

.rooms-page__rooms {
  flex: 3;
}

.rooms__title {
  margin: 30px 0 20px;
}

.rooms-page__pagination {
  margin-bottom: 50px;
}

.rooms-page__pagination-info {
  margin-top: 10px;
  text-align: center;
}
