.profile-page {
  position: relative;
  display: flex;
  gap: 20px;
  min-height: 500px;
}

.profile-sidebar {
  max-width: 100%;
}

@media (max-width: 768px) {
  .profile-page {
    flex-direction: column;
  }
}